In [11]:
time = int(input("What time is it? "))
if time > 6:
    print("Its getting late.")
    print("We should start heading home.")
elif time < 6:
    print("We can stay a little longer.")
action = input("What are you doing after this? ")
if action == 'nothing':
    input("Would you like to go the mall? ")
    print("Cool!")
if action == 'going to bed':
    print("Have a good night!")

What time is it?  9

Its getting late.
We should start heading home.

What are you doing after this?  going to bed

Have a good night!

In [68]:
import fractions
fraction1 = fractions.Fraction(numerator=1, denominator=2)
print(fraction1)

1/2

In [15]:
from fractions import Fraction

print(Fraction(11, 35))
print(Fraction(10, 18))
print(Fraction())

fraction1 = (Fraction(1, 2))
fraction2 = (Fraction(1, 4))
fraction3 = fraction1 + fraction2
print(fraction3)

11/35
5/9
0
3/4

In [11]:
from fractions import Fraction

print(Fraction('1.13'))
print(Fraction('15.25'))

113/100
61/4

In [14]:
from fractions import Fraction

print(Fraction(15.25))

61/4

In [17]:
from fractions import Fraction

print(Fraction('8/25'))
print(Fraction('1.13'))
print(Fraction('3/7'))
print(Fraction('1.414213 \t\n'))

8/25
113/100
3/7
1414213/1000000

In [18]:
print(Fraction(1, 2) + Fraction(1, 4))

3/4

In [19]:
print(Fraction(1, 2) / Fraction(1, 4))

2

In [20]:
print(Fraction(1, 2) * Fraction(1, 4))

1/8

In [21]:
# List Index
my_list = ['H', 'e', 'll', 'o']
print(my_list[0])

H

In [23]:
my_list = ['H', 'e', 'll', 'o']
print(my_list[1])

e

In [24]:
my_list = ['H', 'e', 'll', 'o']
print(my_list[2])

ll

In [25]:
my_list = ['H', 'e', 'll', 'o']
print(my_list[3])

o

In [27]:
#Nested Index
n_list = ["Happy", [1, 2 , 3, 4]]
print(n_list[0][1])
print(n_list[1][3])

a
4

In [29]:
#Negative Index
my_list = ['H', 'e', 'll', 'o']
print(my_list[-1])
print(my_list[-3])

o
e

In [33]:
# Making one change
odd = [2, 4, 6, 8]
odd[0] = 1
print(odd)

[1, 4, 6, 8]

In [37]:
#Making multiple changes
odd = [2, 4, 6, 8]
odd[0:4] = [1, 3, 5, 7]
print(odd)

[1, 3, 5, 7]

In [39]:
#Adding one item
odd = [1, 3, 5]
odd.append(7)
print(odd)

[1, 3, 5, 7]

In [40]:
#Adding several items
odd = [1, 3, 5]
odd.extend([7, 9, 11, 13])
print(odd)

[1, 3, 5, 7, 9, 11, 13]

In [42]:
# Combine
odd = [1, 3, 5]
print(odd + [7, 5, 3, 1])

[1, 3, 5, 7, 5, 3, 1]

In [53]:
#repeat
print(["HI"] * 5)

['HI', 'HI', 'HI', 'HI', 'HI']

In [48]:
#insert 1
odd = [1, 9]
odd.insert(1,3)
print(odd)

[1, 3, 9]

In [52]:
# insert 2
odd = [1, 3, 9]
odd[2:2] = [5,7]
print(odd)

[1, 3, 5, 7, 9]

In [58]:
#deteleting one item
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']
del my_list[2]
print(my_list)

['p', 'r', 'b', 'l', 'e', 'm']

In [59]:
#deteleting ultiple items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']
del my_list[1:4]
print(my_list)

['p', 'l', 'e', 'm']

In [62]:
#deteleting list
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']
del my_list

In [64]:
# removing one item
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']
my_list.remove('p')
print(my_list)

['r', 'o', 'b', 'l', 'e', 'm']

In [67]:
# removing one item
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']
print(my_list.pop(1))

r

In [69]:
# removing one item
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']
my_list[1:3]

['r', 'o']

In [70]:
fruits = ["apple", "banana", "cherry"]
for x in fruits: 
    print(x)

apple
banana
cherry

In [71]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [72]:
fruits = ["apple", "banana", "cherry"]
for x in fruits: 
    print(x)
    if x == "banana":
        break

apple
banana

In [74]:
fruits = ["apple", "banana", "cherry"]
for x in fruits: 
    if x == "banana":
        break
    print(x)

apple

In [75]:
fruits = ["apple", "banana", "cherry"]
for x in fruits: 
    if x == "banana":
        continue
    print(x)

apple
cherry

In [76]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [77]:
for x in range(2,6):
    print(x)

2
3
4
5

In [78]:
# Increment Parameter(3)
for x in range(2,30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [12]:
for x in range(9):
    print(x)
    if x == 4:
        print("This is four")
        break
print("Done")

0
1
2
3
4
This is four
Done

In [8]:
for x in range(6):
    if x == 3: break
    print(x)

0
1
2

In [81]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [82]:
for x in [0, 1, 2]:
    pass

In [83]:
count = 0
while (count < 3):
    count = count + 1 
    print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek

In [84]:
count = 0
while (count < 3):    
    count = count + 1
    print("Hello Geek")
else:
    print("In Else Block")

Hello Geek
Hello Geek
Hello Geek
In Else Block

In [85]:
n = 4
for i in range(0, n):
    print(i)

0
1
2
3

In [13]:
from __future__ import print_function
for i in range(1, 5):
    print(i)
    for j in range(1, 5):
         print(j)

1
1
2
3
4
2
1
2
3
4
3
1
2
3
4
4
1
2
3
4

In [88]:
for x in range(0, 3):
    print("We're on time %d" % (x))

We're on time 0
We're on time 1
We're on time 2

In [3]:
for x in range(1, 11):
    for y in range(1, 11):
        print('%d * %d = %d' % (x, y, x*y))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [15]:
for x in range(6):
    print(x)
print('Final x = %d' % (x))

0
1
2
3
4
5
Final x = 5

In [5]:
string = "Good Morning"
for x in string:
    print(x)

G
o
o
d

M
o
r
n
i
n
g

In [7]:
collection = ['hey', 5, 'd']
for x in collection:
    print(x)

hey
5
d

In [2]:
#Print i when is less than 6
i = 1
while i < 6:
  print(i)
  i += 1 # same as i + 1

1
2
3
4
5

In [3]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [4]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [9]:
#Explanation of while loop
counter = 0
while counter < 3:
    print("Inside loop")
    counter = counter + 1 #adding one to itself
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else

In [11]:
def my_function(): #defining it
    print("Hello from a function") #definition
my_function() #testing it

Hello from a function

In [12]:
def my_function():
    print("Hello World")
my_function()

Hello World

In [15]:
#Arguments
def my_function(fname):
    print(fname + " Refsnes")

my_function("Cris")
my_function("Hdez")
my_function("Vdez")

Cris Refsnes
Hdez Refsnes
Vdez Refsnes

In [17]:
def my_function(fname, lname):
    print(fname + " " + lname)
    
my_function("Cris", "Hdez")

Cris Hdez

In [20]:
def my_function(*kids):
    print("The youngest child is " + kids[2])
    
my_function("Tim", "Tom", "Jim")

The youngest child is Jim

In [21]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)
    
my_function(child1 = "Tim", child2 = "Tom", child3 = "Jim")

The youngest child is Jim

In [22]:
#unknown arguments
def my_function(**kid):
    print("His last name is " + kid["lname"])
    
my_function(fname = "Cris", lname = "Hernandez")

His last name is Hernandez

In [23]:
#default parameter value in this case "Norway"
def my_function(country = "Norway"):
    print("I am from " + country)
    
my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [25]:
#List as an argument
def my_function(food):
    for x in food:
        print(x)
        
fruits = ["apple", "banana", "cherry"]
my_function(fruits)

apple
banana
cherry

In [26]:
#Return Values
def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(7))

15
25
35

In [27]:
#Pass Statement
def my_function():
    pass

In [29]:
#Recursion
def tri_recursion(k):
    if (k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [32]:
#array
cars = ["Ford", "Volvo", "BMW"]
x = cars[0]
print(x)

Ford

In [33]:
#array modification
cars = ["Ford", "Volvo", "BMW"]
cars[0] = "Toyota"
print(cars)

['Toyota', 'Volvo', 'BMW']

In [34]:
#array lenght
cars = ["Ford", "Volvo", "BMW"]
x = len(cars)
print(x)

3

In [36]:
#array loops
cars = ["Ford", "Volvo", "BMW"]
for x in cars:
    print(x)

Ford
Volvo
BMW

In [38]:
#array adding an element
cars = ["Ford", "Volvo", "BMW"]
cars.append("Honda")
print(cars)

['Ford', 'Volvo', 'BMW', 'Honda']

In [39]:
#array deleting an alement
cars = ["Ford", "Volvo", "BMW"]
cars.pop(1)
print(cars)

['Ford', 'BMW']

In [40]:
#array deleting an alement
cars = ["Ford", "Volvo", "BMW"]
cars.remove("Volvo")
print(cars)

['Ford', 'BMW']

In [41]:
#Classes
class MyClass:
    x = 5
print(MyClass)

<class '__main__.MyClass'>

In [42]:
#Creating an object
class MyClass:
    x = 5

p1 = MyClass()
print(p1.x)

5

In [4]:
#Function Continuation
def greet(name):
    print("Hello, " + name + ". Good morning!")
greet("Paul")
print(greet.__doc__)
print(greet("May"))

Hello, Paul. Good morning!
None
Hello, May. Good morning!
None

In [9]:
def absolute_value(num):
    if num >= 0:
        return num
    else:
        return -num
print(absolute_value(2))
print(absolute_value(-4))

2
4

In [10]:
def my_func():
    x = 10 
    print("Value inside function:", x)
x = 20 
my_func()
print("Value outside of function: ", x)

Value inside function: 10
Value outside of function:  20

In [12]:
def add_numbers(x, y):
    sum = x + y
    return sum
num1 = 8
num2 = 7
print("The sum is", add_numbers(num1, num2))

The sum is 15

In [16]:
def my_function():
    print("Hello from my function!")
my_function()

Hello from my function!

In [17]:
def my_function(name):
    print("Python", name)
my_function("101")

Python 101

In [18]:
def my_function(name1, name2):
    print("Python", name1, name2)
my_function("101", "Class")

Python 101 Class

In [19]:
def my_function(country = "Mexico"):
    print("I am from " + country)
my_function("USA")
my_function("Russia")
my_function()

I am from USA
I am from Russia
I am from Mexico

In [20]:
def my_function(*args):
    print(args)
my_function(1, 3, 5, 7, 9)

(1, 3, 5, 7, 9)

In [22]:
def my_function(name, age):
    print(name, " is ", age, " years old")
my_function(age = "23", name = "Cris")

Cris  is  23  years old

In [25]:
def sum(a, b):
    return a + b 
x = sum(8, 7)
print(x)

15

In [26]:
colors = ['yellow', 'black', 'green', 'pruple']
fruits = ['mango', 'banana', 'apple']
for x in colors:
    for y in fruits:
        print(x, y)

yellow mango
yellow banana
yellow apple
black mango
black banana
black apple
green mango
green banana
green apple
pruple mango
pruple banana
pruple apple

In [28]:
def count(num):
    if num <= 0:
        print("Stop")
    else: 
        print(num)
        count(num-1)
count(5)

5
4
3
2
1
Stop

In [29]:
def square( y ):
    return y * y
for x in range (1,11):
    print(square(x))

1
4
9
16
25
36
49
64
81
100

In [32]:
def multiply(numbers):
    total = 1
    for x in numbers:
        total *= x
    return total
print(multiply((3, 5, 7, 9)))

945