# Random Forest vs Decision Tree Machine Learning  
In this notebook, we will implement the decision tree classifier as well as the random forest classifier. We will train these classifiers on car data downloaded from the UCI Machine Learning Repository and evaluate which classifier performs better

In [36]:
import pandas as pd
import numpy as np

In [37]:
car_data = pd.read_csv("./data/car.data", names=["price", "maint", "doors", "capacity", "storage", "safety"], 
                      index_col=False)

/tmp/ipykernel_76/104882323.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  car_data = pd.read_csv("./data/car.data", names=["price", "maint", "doors", "capacity", "storage", "safety"],

In [38]:
car_data.head()

   price  maint doors capacity storage safety
0  vhigh  vhigh     2        2   small    low
1  vhigh  vhigh     2        2   small    med
2  vhigh  vhigh     2        2   small   high
3  vhigh  vhigh     2        2     med    low
4  vhigh  vhigh     2        2     med    med

In [39]:
car_data.maint.unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [40]:
car_data['price'] = car_data['price'].map({'vhigh':3, 'high':2, 'med':1, 'low':0})
car_data['maint'] = car_data['maint'].map({'vhigh':3, 'high':2, 'med':1, 'low':0})

In [41]:
car_data.head()

   price  maint doors capacity storage safety
0      3      3     2        2   small    low
1      3      3     2        2   small    med
2      3      3     2        2   small   high
3      3      3     2        2     med    low
4      3      3     2        2     med    med

## Now your turn: Map string variables for 'safety', and 'storage' to integers

## Split the car_data into train and test split

In [44]:
from sklearn.model_selection import train_test_split

In [48]:
X = car_data.drop(['price'], axis=1)
y = car_data['price']

## Training a decision tree on the data  
Use sklearn library for decision trees to train a decision tree classifier on your data and get the accuracy on the test data  
Helpful link: https://www.datacamp.com/tutorial/decision-tree-classification-python

In [50]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

## Training a random forest model on the data  
Use sklearn library for random forests to train a random forest classifier on your data and get the accuracy on the test data  
Helpful link: https://www.geeksforgeeks.org/random-forest-classifier-using-scikit-learn/

In [51]:
from sklearn.ensemble import RandomForestClassifier